@font-face {
    font-family: "Great Vibes";
    src: url(fonts/Great_Vibes/GreatVibes-Regular.ttf);
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Great Vibes";
    font-size: 1.8em;
    text-shadow: 1px 1px 10px white;
}
section.personagem{
    background: #b98722 url(img/fundo-retrato.png);
    background-size: contain;
    background-position: center center;
    
    padding-top: 10vh;
    box-sizing: border-box;
    text-align: center;
    
    
}
form{
    border: 3px solid black;
    

    padding: 10px;
}
form h2{
    font-size: 1.3em;
}
.personagem  h1{
    background-color: rgba(255, 255, 255, 0);
    
    margin-bottom: 15px;
    
}
.opcao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=radio]{
    appearance: none;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-size: contain;
    
}

#humano{
    background-image: url(img/Ativo\ 1@130x-8.png );
}
#humano:checked{
    box-shadow: 0 0 10px 5px #4c5f63,inset 0 0 10px 0px #4c5f63 ;
}
#elfo{
    background-image: url(img/elfo.png);
}
#elfoNegro{
    background-image: url(img/elfoNegro.png );
}