*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-size: large;
}
body{
    position: relative;
    height: 100vh;
    background-color: rgb(61, 61, 61);
    font-family: monospace;
}
.calc{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #eee;
   border: 3px solid #bbb;
   border-radius: 5px;
   width: 230px;
   padding: 10px 0;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);

}
.div_nome{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 220px;

}
.div_display{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 220px;
   
   margin: 5px;
}
.display{
    width: 220px;
    background-color:#8a8;
    box-shadow: 0px 0px 5px 1px rgb(111, 197, 111);  
    text-align: right;
    padding: 5px;
    font-family: monospace;
    font-size: larger;
    height: 33px;
    transition: background-color 0.5s ease;
}
.desligado{
    background-color: rgb(43, 56, 43) !important;
    box-shadow: none;
}
.div_teclas{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 212px;
   flex-wrap: wrap;
   gap: 4px;
}
.tecla{
    display: flex;
   justify-content: center;
   align-items: center; 
   background-color: #aaa;
   border: 3px solid #888;
   border-radius: 10px;
   width: 50px;
   height: 50px;
   cursor: pointer;
   
}
.teclaOp{
    background-color: #f44;
    border-color: #800;
}