*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-size: large;
}
body{
    position: relative;
    height: 100vh;
    /* background-color: rgb(61, 61, 61); */
    background-color:white;
    font-family: monospace;
}
.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -230px;
    transition: all .2s;
}
.calc_exibir{
    left:0;
}
.aba-calc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 50px;
    background-color: rgb(95, 95, 95);
    border-radius: 0 5px 5px 0;
    cursor:pointer;
}
.calc-principal{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #eee;
   border: 3px solid #bbb;
   border-radius: 5px;
   width: 230px;
   padding: 10px 0;
   /* position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%); */

}
.div_nome{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 220px;

}
.div_display{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 220px;
   
   margin: 5px;
}
.display{
    width: 220px;
    background-color:#8a8;
    box-shadow: 0px 0px 5px 1px rgb(111, 197, 111);  
    text-align: right;
    padding: 5px;
    font-family: monospace;
    font-size: larger;
    height: 33px;
    transition: background-color 0.5s ease;
}
.desligado{
    background-color: rgb(43, 56, 43) !important;
    box-shadow: none;
}
.div_teclas{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 212px;
   flex-wrap: wrap;
   gap: 4px;
}
.tecla{
    display: flex;
   justify-content: center;
   align-items: center; 
   background-color: #aaa;
   border: 3px solid #888;
   border-radius: 10px;
   width: 50px;
   height: 50px;
   cursor: pointer;
   
}
.teclaOp{
    background-color: #f44;
    border-color: #800;
}
[aria-label]{
    position: relative;
}
[aria-label]::after {
    content: attr(aria-label);
    position: absolute;
    top: 105%;
    left: 0px;
    pointer-events: none;
    padding: 5px;
    font-size: 12px;
    color: rgb(214, 214, 214);
    background-color: rgb(51, 51, 51);
    width: 130px;
    border: 1px solid white;
    visibility: hidden;
    }
.visible[aria-label]::after{
    visibility:visible !important;
}